* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 26, 26);
  }
  
  /* Style the side navigation */
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(63, 59, 59);
    overflow-x: hidden;
  }
  
  
  /* Side navigation links */
  .sidenav a {
    color: #2bbc8a;
    padding: 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color on hover */
  .sidenav a:hover {
    background-color:gray;
    color: rgb(198, 212, 199);
  }
  
  /* Style the content */
  .content {
    font-size: larger;
    margin-left: 200px;
    padding-left: 20px;
    color: aliceblue;
  }